* {
  margin: 0;
  padding: 0;
  border:0;
}

header {
  background: pink;
  color: white;
  padding: 30px 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}


section {
  padding: 20px;
  max-width: 500px;
  margin: 10px 0;
}

.top-section {
  background: lightblue;
  margin-top: 107px;
  position: relative;
  z-index: 1;
}

.middle-section {
  background: lightgray;
  position: relative;
  top: 10px;
  left: 40px;
}

.bottom-section {
  background: lightgreen;
  position: relative;
  top: 100px;
}

.bottom-section .smiley {
  width:125px;
  margin-right: 10px;
  margin-bottom: 20px;
  float: right;
}

.name {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  color: white;
}

.custom-text {
  color:Black;
  font-size: 22px;
  font-weight: bold;
  display: block;
}

ul li {
  display: inline;
}

.cloud-top,
.cloud-bottom {
  position: absolute;
  height: 40%;
  background: skyblue;
}

.cloud-top {
  width: 200px;
  top: 120px;
  opacity: .5;
  animation: wind 40s linear infinite;
}

.cloud-bottom {
  width: 300px;
  top: 0;
  animation: wind 30s linear infinite;
}

@keyframes wind {
  from {
    left: -300px;
  }
  to{
    left:1000px;
  }
}

.logo {
  width: 100px;
}

.logo:hover{
  width:300px;
}
